<!-- el evento onSubmit nos permite pasarle información de la función que se encuentra en el archivo ts -->
<form (ngSubmit)="onSubmit()" class="flex flex-col space-y-3">
  <input [(ngModel)]="title" name="title" type="text" class="py-2 px-4 rounded-md bg-slate-700 shadow-md text-white text-lg w-full" placeholder="Enter task title">
  <input name="description" [(ngModel)]="description" type="text" class="py-2 px-4 rounded-md bg-slate-700 shadow-md text-white text-lg w-full" placeholder="Enter task description">
  <input type="submit" value="Save task" class="bg-blue-500 text-white font-bold py-3 rounded-md">
</form>
